:host {
  display: block;
  padding:20px;
/*  color: green;
  font-family: 'RobotoDraft', sans-serif;
*/



}

#defaultCanvas {
          /*overflow: hidden;*/
          margin: -22px;
/*          padding: 0;
          background:white;
*/}

#container {
  /*border: 2px solid;*/
  border-radius: 2px;
  box-shadow: 10px 10px 5px #888888;
  padding: 20px;
  background: white;
  opacity: 90%;
  cursor: pointer;
}

.controls {
  height:20px;
  top:40px;
  position:absolute;
  z-index:1000;
  width:100%;
  color:white;
  /*padding:5px;*/
}

.freq {
  color:white;
/*  position:fixed;
  z-index:1000;
  width:100px;
  top:40px;
  left:40px;*/
}


canvas {
  /*position:absolute;*/
  /*top: 0;*/
  top: 30px;
  /*position: absolute;*/
}
}